body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background: #fff;
  color: #333;
  text-align: center;
}

header {
  background: #6a1b9a;
  color: #fff;
  padding: 5px 20px;
  height: 50px;
  display: flex;
   display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 5px 20px;
  height: 50px;
  background: #6a1b9a;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo img {
  height: 30px;
  margin-right: 8px;
}

.logo-text {
  font-size: 1rem;
  font-weight: 500;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

nav .btn {
  background: #ffb300;
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: 500;
}

main {
  max-width: 600px;
  margin: 30px auto;
}

.logo-big {
  font-size: 60px;
  color: #ff9800;
  font-weight: 600;
}

.home-title {
  font-size: 1.2rem;
  margin: 20px 0;
  font-weight: 500;
}

.status {
  list-style: none;
  padding: 0;
  font-size: 1rem;
  margin: 20px 0;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 14px;
}

.unlock-btn {
  margin-top: 20px;
  padding: 10px 22px;
  font-size: 1rem;
  background: #fff;
  border: 2px solid #6a1b9a;
  color: #6a1b9a;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.note {
  font-size: 12px;
  margin-top: 15px;
  color: #555;
}

.policy {
  display: block;
  margin-top: 25px;
  color: #6a1b9a;
  font-weight: 700;
  text-decoration: none;
}

.footer-btn {
  display: inline-block;
  margin-top: 15px;
  background: #6a1b9a;
  color: #fff;
  padding: 8px 15px;
  border-radius: 20px;
  text-decoration: none;
}

/* Popup Styles */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.popup-content {
  background: #fff;
  width: 90%;
  max-width: 420px;
  margin: 100px auto;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.store-logo {
  width: 130px;
  height: auto;
  margin: 10px;
  transition: 0.2s;
}

.store-logo:hover {
  transform: scale(1.05);
}

.animated-heading {
  color: #FFC107;
  animation: upDown 2s infinite;
  font-weight: 600;
}

@keyframes upDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.big-logo-img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.welcome-text {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.medium-text {
  font-weight: 500;
}

.semibold-text {
  font-weight: 600;
}

.header-center {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}
